.navbar {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: red;
  font-size: 18px;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background: red;
  font-size: 16px;
  color: yellow;
  border: 1px solid black;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover{
    background-color: #fff4f2;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid yellow;
}